In [1]:
! open .

# link

[github](https://github.com/myao9494/gantt_chart_myao)

# factory

## 予定を作成する

In [2]:
import pendulum

In [4]:
date = pendulum.datetime(2022,7,21)
yotei = "部活"
id_num =48

In [12]:
out = f'[{str(id_num)},"{yotei}",new Date({date.year},{date.month-1},{date.day})],'

'[48,"部活",new Date(2022,6,21)],'

In [110]:
import pandas as pd

In [111]:

a = "3 4 3"
b = "5 4 3 2"
c = "1 2 3 4"
d = "1 2 2 1"

In [131]:
a = "3 5 1"
b= "0 1 1 1 1"
c = "0 0 1 1 1"
d = "0 0 0 1 1"

In [132]:
li = []

In [133]:
li.append( b.split(" "))
li.append( c.split(" "))
li.append( d.split(" "))

In [134]:
df = pd.DataFrame(li).astype("int")

In [135]:
df

   0  1  2  3  4
0  0  1  1  1  1
1  0  0  1  1  1
2  0  0  0  1  1

In [136]:
top = int(a.split(" ")[0])-1
gyo =  int(a.split(" ")[2])

In [140]:
gyo

1

In [139]:
out = 0
yoko_1 = top-1
yoko_2 = top+1
for i in range(gyo):
#     print(i)
    if i == 0:
        temp = df.iloc[0,top]
    else:
        temp = df.iloc[i,yoko_1:yoko_2+1].sum()
        yoko_1 = yoko_1-1
        if yoko_1 <0:
            yoko_1 = 0
        yoko_2 = yoko_2+1
    print(temp,yoko_1,yoko_2)
    out = out +temp
print(out)

1 1 3
1

2

In [102]:
df.iloc[i,yoko_1:yoko_2+1].sum()

1

In [96]:
df.iloc[0,1:6].sum()

9

In [71]:
df.iloc[2,1:6]

1    2
2    3
3    4
Name: 2, dtype: object

In [49]:
df.iloc[1,[tg-1]

SyntaxError: unexpected EOF while parsing (926723485.py, line 1)

## 過去

In [36]:
import Gantt_control
self = Gantt_control.gantt()

In [32]:
self.save_data("default")

ガントへデータからエクセルへ

In [40]:
self.db_to_gantt("default")

df_taskを編集

In [118]:
! code .

編集結果を取得

df_task_edit = pd.read_csv("df_task.csv")

データを戻す

完了したら閉じる

消す