In [12]:
! open .

In [232]:
! code .

# link

[github](https://github.com/myao9494/gantt_chart_myao)

# 予定を入れる

glideへ入れる

In [233]:
import sys;sys.path.append("../mylib");import gss
import pendulum
df = gss.create_df()

チョク

In [234]:
sch_date = (2022,8,23,7,0,"部活(23~26日)")
sch_date

(2022, 8, 23, 7, 0, '部活(23~26日)')

文字

In [235]:
from Reminder_data_from_ambiguous_information import remind_make; 
sch_date = remind_make.main("明日誕生日",pendulum.now())
sch_date

2022年08月16日日 7時0分誕生日

('2022', '08', '16', '7', '0', '誕生日')

入力

In [6]:
i=len(df)+2
date = pendulum.datetime(year=int(sch_date[0]),month=int(sch_date[1]),day=int(sch_date[2]),hour=int(sch_date[3]),minute=int(sch_date[4]))

In [28]:
worksheet.update_cell(i, 2, str(date)[:-6]+".000Z")
worksheet.update_cell(i, 3, sch_date[5])
worksheet.update_cell(i, 4, "True")

{'spreadsheetId': '1WuN2n_WNdhJmTi6q-hwYWDEK7fdHNprE-PTHuTkE7HI',
 'updatedRange': "'スケジュール'!D181",
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## glideからgatttへ入れる

In [236]:
import sys;sys.path.append("../mylib");import gss;gss.print_week_schedule();import pandas  as pd

2022-08-21,車検の予約　11/15に切れる,1,___2022-08-19,上西内科,1,___2022-08-20,夏祭り,1,___2022-08-17,部活 (8:30~11:30),1,___2022-08-18,部活 (8:30~11:30),1,___

In [1]:
import DB_python ,my_utility; self = DB_python.db_con();df = self.create_db();df_sc = df[["id","text","task_schedule"]].copy().dropna();df_sc = df_sc[df_sc["task_schedule"]!=""]
qg = my_utility.qgid_local(df_sc);qg

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [4]:
df_sc_edit = qg.get_changed_df();df_comp, df_add_index, _, df_del_index, _ = my_utility.df_compare(df_sc,df_sc_edit)

In [5]:
df_comp

             task_schedule
                         前                     後
76  2022-8-19,上西内科,1,___眼科  2022-8-19,上西内科,1,___

In [6]:
df_add_index

Empty DataFrame
Columns: [id, text, task_schedule]
Index: []

In [7]:
df_del_index

Empty DataFrame
Columns: [id, text, task_schedule]
Index: []

In [8]:
for index in list(df_comp.index):
    print(index)
    taisho = df_sc_edit.loc[[index]]
    out = self.to_db(taisho,"task_schedule")

76

In [9]:
if len(df_add_index) != 0:
    out = self.to_db(df_add_index,"task_schedule")

In [10]:
if len(df_del_index) != 0:
    df_del_index["task_schedule"] = ""
    out = self.to_db(df_del_index,"task_schedule")

# 日付をずらす

In [1]:
import DB_python ; obj = DB_python.db_con()

In [4]:
taisho_start = "2022-8-15"
nobasu_day = -7
obj.move_task(taisho_start,nobasu_day)

33件処理しました

# factory